version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    ignore:
      - dependency-name: "org.apache.kafka:kafka_2.12"
        update-types: ["version-update:semver-major"]
      - dependency-name: "com.github.navikt:brukernotifikasjon-schemas"
        update-types: ["version-update:semver-major"]
    groups:
      dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
